<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 패키지명 -->
<mapper namespace="org.scoula.example.mapper.ExampleMapper">
    <select id="selectAllByMapper" resultType="org.scoula.example.domain.BoardVO">
        <!-- CDATA : 안에 있는 내용은 하나의 문자열로 취급 -->
        <![CDATA[
        select * from tbl_board_ex
        ]]>
    </select>
</mapper>


        <!--<mapper namespace="연결하고 싶은 인터페이스 경로 + 이름">-->

        <!--<select id="추상메서드명" resultType="반환타입">-->
        <!--    &lt;!&ndash; SQL    &ndash;&gt;-->
        <!--</select>-->

        <!--</mapper>-->